private/
android/.gradle/
android/local.properties
android/app/build/
android/app/src/main/jniLibs/
dist/
.DS_Store
*.log
*.keystore
*.jks
*signing.pem
android/build/
work/
docs/*
!docs/RELEASES.md
!docs/UPDATE-0.13.md
!docs/*TEST-RESULTS-0.13.txt

android/.idea/
android/.kotlin/

!docs/UPDATE-0.14.md
!docs/*TEST-RESULTS-0.14.txt

!docs/UPDATE-0.14.1.md

!docs/UPDATE-0.14.2.md
